/** STRUCTURE **/

.full-width {
  width: 1200px;
  margin: 0 100px}

.half-width {
  width: 600px;
  float: left;}

.third-width {
  width: 400px;
  float: left;}

html {
  width: 1400px;
  margin: 0 auto;
  padding: 0 auto;
  scroll-behavior: smooth;
}

body {
  font-family: "Bellota Text", sans-serif;
  margin: 0 auto;
  padding: 0 auto;
}

/** EVERYTHING **/

a {text-decoration: none; color: inherit;}
a:visited {color: inherit;}

li {list-style-type:none;}

/** HEADER SECTION **/

header {
  margin: 0;
  width: 100%;
  height: 800px;
  background-color: lightgrey;
  background-image: url("../img/hero-image.png");
  background-size: cover;
  color: #fff;
}

header nav {
  width: 900px;
  position: relative;
  top: 75px;
  right: 500px;
  left: 0;
  background-color: #39f9;
}
header nav ul {
  margin: 0;
  text-align: right;
}
header nav li {
  display: inline;
  margin: 0 10px 0 75px;
  font-size: 25px;
  line-height: 35px;
}

#intro {
  width: 1000px;
  position: relative;
  top: 275px;
  left: 400px;
  right: 0;
  background-clip: content-box;
  background-color: #39f9;
  text-align: left;
}
  #intro h1, #intro h2 {
    width: 600px;
    margin: 0;
  }
  #intro h1 {
    padding: 15px 5px 15px 25px;
    font-size: 60px;
  }
  #intro h2 {
    font-size: 45px;
    padding: 0 5px 15px 40px;
    font-family:"Alegreya", serif;
    font-weight: 300;
  }

/** MAIN **/

main {
  margin: 0 auto;
}

.title {
  margin: 0 auto;
  padding: 5px 0 0 0;
  width: 1400px;
  height: 40px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  position: -webkit-sticky; /* for Safari browsers */
  position: sticky;
  top: 0;
  background-image: linear-gradient(to right, #85c2ff, #85c2ff, #39f9, #85c2ff, #85c2ff);
  z-index: 2;
}

.title-nav {
  margin: 0 auto;
  height: 40px;
  width: 33%;
  float: left;
}
  .title-nav a {
    position: relative;
    z-index: 4;
  }
  .title-nav ul, .title-nav li {
    display: inline;
    margin: 0 auto;
    line-height: 15px;
    font-size: 30px;
  }
  .title-nav li {
    padding: 0 18px;
  }
  .title-nav img {
    height: 30px;
    vertical-align: bottom;
  }

.title-center {
  float: left;
  margin: 0;
  height: 40px;
  width: 34%}

.title-me {
  margin: 0 auto;
  float: left;
  width: 33%;
}
  .title-me h3 {
    margin: 0 auto;
    font-size: 30px;
    line-height: 35px;
  }

.section-head {
  margin: 0 550px;
  width: 300px;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  font-family: "Alegreya", serif;
  color: #fff;
  position: -webkit-sticky; /* for Safari browsers */
  position: sticky;
  top: 0;
  z-index: 3;
}
  .section-head h4 {
    margin: 15px;
    font-weight: normal;
  }
/** PORTFOLIO SECTION **/

#portfolio {margin: 0 auto;}

.project {
  height: 400px;
  margin: 15px auto 30px auto;
  padding: 15px 0 30px 0;
  background-repeat: no-repeat;
  background-position: 400px 15px;
}
  #pickings {
    background-image: linear-gradient(to bottom right,#79A87E99,#fff9);
  }
  #austen {
    background-image: linear-gradient(to bottom right,#C87F5799,#fff9);
  }
  #other {
    background-image: linear-gradient(to bottom right,#39f9,#fff9);
  }

.project h5 {
  margin: 10px 0;
  text-align: center;
  font-size: 25px;
}

.project-image a > img {
  margin: 0;
  width: 580px;
  border: 5px solid #0009;
  transition:.5s;
}
  .project-image img:hover {
    width: 600px;
    box-shadow: -7px 6px 8px #808080BF;
    transition: .5s ease;
  }

.project-detail {
  padding: 30px 0;
  }
  .project-detail p {
    margin: 30px 40px;
    line-height: 40px;
    font-size: 25px;
  }

/** ABOUT SECTION **/
#about {margin: 0 auto;}

#aboutme {
  height: 500px;
  margin: 0 auto 30px auto;
  padding: 15px 0 15px 0;
}
  #aboutme h5 {
    margin: 15px 0 15px 0;
    text-align: center;
    font-size: 30px;
  }

#images {
  margin: 0 60px 0 80px;
  border: 5px solid #0009;
  padding: 20px 20px;
  width: 400px;
  height: 400px;
  transition:.5s ease-out;
}
  #images img {
    width: 400px;
    transition: .5s ease-out;
  }

  #images:hover {
    margin: -10px 50px 0 70px;
    padding: 10px 30px;
    width: 400px;
    height: 440px;
    box-shadow: -5px 4px 5px #808080BF, -5px 4px 5px #80808099 inset;
    background-color: ;
  }
  #images:hover img {
    width: 460px;
    box-shadow: -7px 6px 8px #808080BF;
  }

  #image2 {
    display: none;
  }
  #images:active #image1 {
    display: none;
  }
  #images:active #image2 {
    display: inline;
  }

.about-detail {
  height:auto;
  padding: 20px 0;
}
.about-detail p {
  margin: 15px 80px 0 0;
  font-size: 20px;
  line-height: 45px;
  font-family:"Alegreya", serif;
}

/** CONTACT SECTION **/
#contact {
  margin: 0 auto;
  height: 350px;
  background: #39f;
  background-position:
}

  #contact h5 {
    margin: 60px 0 50px 0;
    text-align: center;
    font-size: 25px;
  }
  #contact img {
    width: 40px;
    height: 40px;
  }

#email {
  margin: 0 auto;
  text-align: center;
}
#email a {
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}

#follow {
  text-align: center;
}

#follow a img {
  padding: 0 40px;
}

#meet p {
  padding: 0 10px 0 25px;
  font-size: 20px;
  font-weight: bold;
}
